.weather-icon {
  width: 100px;
}

.footer {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  right: 0;
}

header {
  text-align: center;
  color: darkcyan;
}

div.container {
  align-items: center;
}

.col-auto {
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  color: white;
  background-color: chocolate;
}

img.weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h2 {
  text-align: center;
  font-size: 20pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: green;
}

.h5 {
  text-align: center;
  font-size: 15pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: royalblue;
}

.col-md-6 {
  text-align: right;
}

.card.mt-3.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
